In [1]:
import pandas as pd

## 1. raw 파일 불러오기

- 일자/노선/지하철역별 승하차고객수
- 19년 상반기

In [3]:
file = "./rawfiles/CARD_SUBWAY_MONTH_201901.csv"

raw = pd.read_csv(file)
raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  경춘선  1323   가평    1520    1436  20190104
1  20190101  경춘선  1322   상천     275     114  20190104
2  20190101  경춘선  1321   청평    1509    1083  20190104
3  20190101  경춘선  1320  대성리     357     271  20190104
4  20190101  경춘선  1319   마석    1772    1963  20190104

In [4]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18334 entries, 0 to 18333
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18334 non-null  int64
 1   노선명     18334 non-null  object
 2   역ID     18334 non-null  int64
 3   역명      18334 non-null  object
 4   승차총승객수  18334 non-null  int64
 5   하차총승객수  18334 non-null  int64
 6   등록일자    18334 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1002.8+ KB

## 판다스로 파일 읽어오기

### 테이터 파일 읽기: read_excel / read_csv
 - pd.read_excel('파일경로+파일명.xlsx')
 - pd.read_csv("파일경로+파일명.csv", encoding='utf-8')
 - pd.read_csv("파일경로+파일명.csv", encoding='cp949')
 
#### 자주 사용하는 옵션
 - pd.read_excel('파일경로', 옵션1=값1, 옵션2=값2, ...)
 - 옵션 종류
     - index_col = 컬럼인덱스번호 # 몇번째 컬럼을 인덱스로 지정할 것인지
     - header = row 인덱스번호
     - thousands = ',' #천 단위 기호

### 여러 파일 불러오기
2개 파일 불러와서 합치기

In [7]:
raw = pd.DataFrame()
raw.head()

file1 = './rawfiles/CARD_SUBWAY_MONTH_201901.csv'
file2 = './rawfiles/CARD_SUBWAY_MONTH_201902.csv'
temp = pd.read_csv(file1)
raw = raw.append(temp)
print(raw.tail())
print("===========================================")
temp2 = pd.read_csv(file2)
raw = raw.append(temp2)
print(raw.tail())

           사용일자  노선명  역ID    역명  승차총승객수  하차총승객수      등록일자
18329  20190131  1호선  155   동대문   14563   15139  20190203
18330  20190131  1호선  154  종로5가   30249   29703  20190203
18331  20190131  1호선  153  종로3가   36804   35050  20190203
18332  20190131  1호선  152    종각   51970   50080  20190203
18333  20190131  1호선  151    시청   29059   29169  20190203
===========================================
           사용일자    노선명   역ID          역명  승차총승객수  하차총승객수      등록일자
16538  20190228  우이신설선  4709      북한산보국문    6564    6029  20190303
16539  20190228  우이신설선  4710          정릉    4821    4348  20190303
16540  20190228    경춘선  1314         퇴계원    4212    3899  20190303
16541  20190228  우이신설선  4711  성신여대입구(돈암)    4058    4452  20190303
16542  20190228  우이신설선  4712          보문    1803    1836  20190303

### 폴더의 모든 파일 병합하기
위처럼 파일을 하나씩 합치는 것은 비효율적이기 때문에 파이썬의 기능을 사용해 모두 병합한다.

In [8]:
import os

In [10]:
os.listdir('./rawfiles')

['CARD_SUBWAY_MONTH_201901.csv',
 'CARD_SUBWAY_MONTH_201902.csv',
 'CARD_SUBWAY_MONTH_201903.csv',
 'CARD_SUBWAY_MONTH_201904.csv',
 'CARD_SUBWAY_MONTH_201905.csv',
 'CARD_SUBWAY_MONTH_201906.csv']

In [14]:
raw = pd.DataFrame()
file_dir = './rawfiles'

for i, file in enumerate(os.listdir(file_dir)):
    temp = pd.read_csv(os.path.join(file_dir,file))
    raw = raw.append(temp)
    print(f"{i} th append: ", raw.shape[0])
    
raw

0 th append:  18334
1 th append:  34877
2 th append:  47306
3 th append:  63872
4 th append:  81618
5 th append:  99342

           사용일자  노선명   역ID     역명  승차총승객수  하차총승객수      등록일자
0      20190101  경춘선  1323     가평    1520    1436  20190104
1      20190101  경춘선  1322     상천     275     114  20190104
2      20190101  경춘선  1321     청평    1509    1083  20190104
3      20190101  경춘선  1320    대성리     357     271  20190104
4      20190101  경춘선  1319     마석    1772    1963  20190104
...         ...  ...   ...    ...     ...     ...       ...
17719  20190630  2호선   204  을지로4가    4940    4668  20190703
17720  20190630  2호선   203  을지로3가   12043   11854  20190703
17721  20190630  2호선   202  을지로입구   31622   29723  20190703
17722  20190630  2호선   201     시청   10178    8214  20190703
17723  20190630  1호선   159    동묘앞   13859   14352  20190703

[99342 rows x 7 columns]

In [13]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99342 entries, 0 to 17723
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    99342 non-null  int64
 1   노선명     99342 non-null  object
 2   역ID     99342 non-null  int64
 3   역명      99342 non-null  object
 4   승차총승객수  99342 non-null  int64
 5   하차총승객수  99342 non-null  int64
 6   등록일자    99342 non-null  int64
dtypes: int64(5), object(2)
memory usage: 6.1+ MB

인덱스가 각 파일의 인덱스 값으로 설정되어 있기 때문에 새로 설정하도록 한다.

In [16]:
raw = raw.reset_index(drop=True)
raw

           사용일자  노선명   역ID     역명  승차총승객수  하차총승객수      등록일자
0      20190101  경춘선  1323     가평    1520    1436  20190104
1      20190101  경춘선  1322     상천     275     114  20190104
2      20190101  경춘선  1321     청평    1509    1083  20190104
3      20190101  경춘선  1320    대성리     357     271  20190104
4      20190101  경춘선  1319     마석    1772    1963  20190104
...         ...  ...   ...    ...     ...     ...       ...
99337  20190630  2호선   204  을지로4가    4940    4668  20190703
99338  20190630  2호선   203  을지로3가   12043   11854  20190703
99339  20190630  2호선   202  을지로입구   31622   29723  20190703
99340  20190630  2호선   201     시청   10178    8214  20190703
99341  20190630  1호선   159    동묘앞   13859   14352  20190703

[99342 rows x 7 columns]

### 요일데이터 추가하기

In [17]:
from datetime import datetime

datetime.strptime('날짜', `str형태`): 문자 --> 날짜 타입
- `str형태`: %Y-%m-%d %H:%M:%S
    - %Y: 연도(4자리)
    - %m: 월(2자리)
    - %d: 일자(2자리)
    - %H: 시간
    - %M: 분
    - %S: 초

In [18]:
weekday_dict = ['월','화','수','목','금','토','일']
weekday = []
for date in raw['사용일자']:
    d = datetime.strptime(str(date),'%Y%m%d')
    weekday_index = d.weekday()
    weekday.append(weekday_dict[weekday_index])
    
raw['요일'] = weekday
raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자 요일
0  20190101  경춘선  1323   가평    1520    1436  20190104  화
1  20190101  경춘선  1322   상천     275     114  20190104  화
2  20190101  경춘선  1321   청평    1509    1083  20190104  화
3  20190101  경춘선  1320  대성리     357     271  20190104  화
4  20190101  경춘선  1319   마석    1772    1963  20190104  화

## 저장하기

In [20]:
raw.to_excel('./data/subway_raw.xlsx',index=False)